# don't track
.vim/plugged/
# copilot token
.config/github-copilot/
# don't track tmux plugins
.config/tmux/plugins/"
.config/raycast/
.config/iterm2/
.config/emacs
.config/emacs/
# pesky ds_store file
.DS_Store
.config/zed/prompts/prompts-library-db.0.mdb/
.config/karabiner/automatic_backups/
.config/zellij/*.bak
.config/cagent/user-uuid
.config/cagent/.cagent_first_run
.DS_Store
.DS_Store
